{%- extends "base.njk" -%}
{%- block section -%}Entry{%- endblock -%}
{%- block title -%}{{ entry.title }} | Entry{%- endblock -%}
{%- block menuitems -%}
  <li><a class="mdl-menu__item" href="?external-html={{ (extHtml - 1) * -1 }}" rel="nofollow">Switch Content</a></li>
{%- endblock -%}
{%- block content -%}
  <div class="demo-blog__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
      <div class="mdl-card__media mdl-card__title mdl-color-text--grey-50" style="background-image: url('{{ entry.image }}');">
        <h3 style="font-weight: bold;">{{ entry.title }}</h3>
      </div>
      <div class="mdl-card__supporting-text">
        <a href="{{ entry.link }}" target="_blank" rel="noopener" class="link-iconed">
          <i class="material-icons">open_in_new</i>
          {{ entry.link }}
        </a>
      </div>
      <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta" style="padding: 0 16px;">
        <a class="meta link-unstyled" style="flex-direction: row; padding: 0;" href="{{ urlFor('/feed/:feed', { feed: slugifyUrl(feed.url) }) }}">
          <div class="minilogo" style="background-image: url('{{ feed.icon }}');"></div>
          <div>
            <strong>{{ feeds[entry.feedId].name or feeds[entry.feedId].url }}</strong>
            <span title="{{ entry.published }}">{{ entry.relPublished }}</span>
          </div>
        </a>
        <div class="section-spacer"></div>
        {# <div class="meta__favorites">
          425 <i class="material-icons" role="presentation">favorite</i>
          <span class="visuallyhidden">favorites</span>
        </div>
        <div>
          <i class="material-icons" role="presentation">bookmark</i>
          <span class="visuallyhidden">bookmark</span>
        </div> #}
        {# <div>
          <i class="material-icons" role="presentation">share</i>
          <span class="visuallyhidden">share</span>
        </div> #}
        <button id="copy-link" class="mdl-button mdl-js-button mdl-button--icon" onclick="navigator.clipboard.writeText(location.href);">
          <i class="material-icons">link</i>
        </button>
        <span for="copy-link" class="mdl-tooltip">Copy Link</span>
      </div>
      <div class="entry-content mdl-color-text--grey-700 mdl-card__supporting-text">
        {% if extHtml and entry.html %}
          {{ entry.html | safe }}
        {% elif entry.content %}
          {{ entry.content | safe }}
        {% else %}
          {% if entry.embed %}
            <iframe style="{% if entry.image %} background-image: url('{{ entry.image }}'); {% endif %}" src="{{ entry.embed }}" loading="lazy" allow="fullscreen" allowfullscreen></iframe>
          {% elif entry.video %}
            <video src="{{ entry.video }}" controls></video>
          {% elif entry.image %}
            <img src="{{ entry.image }}" loading="lazy" />
          {% endif %}
          {% if entry.summary %}
            <p>
              {% for line in entry.summary.split('\n') %}
                {{ line }}<br />
              {% endfor %}
            </p>
          {% endif %}
        {% endif %}
      </div>
      {# <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
            <textarea rows="1" class="mdl-textfield__input" id="comment"></textarea>
            <label for="comment" class="mdl-textfield__label">Join the discussion</label>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
        </form>
        <div class="comment mdl-color-text--grey-700">
          <header class="comment__header">
            <img src="images/co1.jpg" class="comment__avatar">
            <div class="comment__author">
              <strong>James Splayd</strong>
              <span>2 days ago</span>
            </div>
          </header>
          <div class="comment__text">
            In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
          </div>
          <nav class="comment__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
              <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
              <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
              <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
          </nav>
          <div class="comment__answers">
            <div class="comment">
              <header class="comment__header">
                <img src="images/co2.jpg" class="comment__avatar">
                <div class="comment__author">
                  <strong>John Dufry</strong>
                  <span>2 days ago</span>
                </div>
              </header>
              <div class="comment__text">
                Yep, agree!
              </div>
              <nav class="comment__actions">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                  <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                  <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                  <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
              </nav>
            </div>
          </div>
        </div>
      </div> #}
    </div>
  </div>
{%- endblock -%}